.p-top {
  h1 {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
  }

  header {
    padding: 20px;
    border-bottom: 1px solid var(--color-greyscale-100);
  }

  footer {
    min-height: 100%;
    padding: 40px 20px;
    background: var(--color-greyscale-100);
  }
}